.btnCard{
  width: 40px;
  height: 60px;
}

.btnSquircle{
  border-radius:50px 50px 50px 50px;
}

.badge{
  //padding: 12% 0;
  font-size: large;
  //width: 30px;
  //height: 30px;
  //border-radius:50px 50px 50px 50px;
}
