.btnCard{
  width: 40px;
  height: 60px;
}

.btnSquircle{
  border-radius:50px 50px 50px 50px;
}

.badgeSquare{
  font-size: large;
}

.badgeCircle{
  //padding: 6% 0;
  padding-top: 9px;
  text-align: center;
  font-size: large;
  width: 36px;
  height: 36px;
  border-radius:50px 50px 50px 50px;
}

.badgeScore{
  //padding: 6% 0;
  padding-top: 15px;
  text-align: center;
  font-size: large;
  width: 50px;
  height: 50px;
  border-radius:50px 50px 50px 50px;
}

.badgeCount{
  //padding: 18% 0;
  padding-top: 15px;
  text-align: center;
  font-size: large;
  width: 50px;
  height: 50px;
  border-radius:50px 50px 50px 50px;
}

.badgeTimer{
  //padding: 18% 0;
  padding-top: 9px;
  text-align: center;
  font-size: large;
  width: 36px;
  height: 36px;
  border-radius:50px 50px 50px 50px;
}
