.btnCard{
  width: 40px;
  height: 60px;
}

.btnSquircle{
  border-radius:50px 50px 50px 50px;
}

.badgeSquare{
  //padding: 12% 0;
  font-size: large;
  //width: 30px;
  //height: 30px;
  //border-radius:50px 50px 50px 50px;

}

.badgeCircle{
  padding: 24% 0;
  font-size: large;
  width: 50px;
  height: 50px;
  border-radius:50px 50px 50px 50px;
}
