<ion-content padding>

  <div *ngIf="gameOn === false">
    <button (click)="f2p()" ion-button color="primary" round full icon-start>
      <ion-icon name='bicycle' is-active="false"></ion-icon>
      2 Player
    </button>

    <button (click)="f4p()" ion-button color="secondary" round full icon-start>
      <ion-icon name='car' is-active="false"></ion-icon>
      4 Player
    </button>
  </div>

  <div *ngIf="gameOn === true">

    <button ion-button color="light" round full icon-start>
      <ion-icon name='school' is-active="false"></ion-icon>
      Make a {{turn}} letter word or pass
    </button>

    <ion-item no-lines>
      <ion-avatar item-start>
        <img [src]="avatar" />
      </ion-avatar>
      <ion-badge item-start>{{player}}</ion-badge>

      <ion-icon name="ribbon" item-end></ion-icon>
      <ion-badge class="badge" item-end>{{score}}</ion-badge>
    </ion-item>

    <ion-card *ngIf="borrow.length > 0">
      <ion-card-content>
        <button class="btnCard" *ngFor="let letter of borrow" (click)="fborrow(letter)" ion-button color="dark" outline>{{ letter }}</button>
        <ion-note padding-top margin-top float-right text-right>BORROW</ion-note>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="board.length > 0">
      <ion-card-content *ngIf="isValid === true && isPlaced === false">
        <button class="btnCard" *ngFor="let letter of board" (click)="fboard(letter)" ion-button color="secondary" outline>{{ letter }}</button>
        <ion-note padding-top margin-top float-right text-right>BOARD</ion-note>
      </ion-card-content>
      <ion-card-content *ngIf="isValid === false && isPlaced === false">
        <button class="btnCard" *ngFor="let letter of board" (click)="fboard(letter)" ion-button color="danger" outline>{{ letter }}</button>
        <ion-note padding-top margin-top float-right text-right>BOARD</ion-note>
      </ion-card-content>
      <ion-card-content *ngIf="isPlaced === true">
        <button class="btnCard" *ngFor="let letter of board" (click)="fboard(letter)" ion-button color="secondary" outline>{{ letter }}</button>
        <ion-note padding-top margin-top float-right text-right>BOARD</ion-note>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card *ngIf="bin.length > 0">
      <ion-card-content>
        <button class="btnCard" *ngFor="let letter of bin" (click)="fbin(letter)" ion-button color="light" outline>{{ letter }}</button>
        <ion-note padding-top margin-top float-right text-right>BIN</ion-note>
      </ion-card-content>
    </ion-card> -->

    <ion-card *ngIf="deck.length > 0">
      <ion-card-content>
        <button class="btnCard" *ngFor="let letter of deck" (click)="fdeck(letter)" ion-button color="primary" outline style="width: 40px; height: 60px;">{{ letter }}</button>
        <ion-note padding-top margin-top float-right text-right>DECK</ion-note>
      </ion-card-content>
    </ion-card>

    <button (click)="fcheck()" ion-button color="primary" round full icon-start>
      <ion-icon name='checkmark' is-active="false"></ion-icon>
      OK
    </button>

    <button (click)="fpass()" ion-button color="danger" round full icon-start>
      <ion-icon name='switch' is-active="false"></ion-icon>
      Pass
    </button>
  </div>
</ion-content>
